@model List<CategoryDto>

@if (Model.Count > 0)
{

    foreach (var item in Model)
    {
        
            <li>
                <a asp-action="GetCategoryId" asp-controller="Home" asp-route-category="@Url.FriendlyUrl(item.Name)">
                    <i class="d-icon-arrow-right" style="
                                            font-size: 23px;
                                            margin-left: -1px;
                                            margin-right: 1rem;
                                        "></i>@item.Name
                                    </a>
                                    <ul>
                                        @foreach (var sub in item.Subcategories)
                                        {
                                            <li><a asp-action="GetSubcategoryId" asp-controller="Home" asp-route-category="@Url.FriendlyUrl(item.Name)" asp-route-subcategory="@Url.FriendlyUrl(sub.Name)">@sub.Name</a></li>
                                        }


                                    </ul>
                                </li>




        


    }

}


