
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>@TempData["CompanyName"] </title>
    <meta name="keywords" content="@TempData["MetaKeyword"]" />
    <meta name="description" content="@TempData["MetaDesc"]">
    <meta name="google-site-verification" content="@TempData["GoogleVerify"]" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="Arisa Teknoloji">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="@TempData["Favicon"]">
    <!-- Preload Font -->
    <link rel="preload" href="~/fonts/riode.ttf?5gap68" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="~/vendor/fontawesome-free/webfonts/fa-solid-900.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <link rel="preload" href="~/vendor/fontawesome-free/webfonts/fa-brands-400.woff2" as="font" type="font/woff2"
          crossorigin="anonymous">
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:400,500,600,700,800,900'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>


    <link rel="stylesheet" type="text/css" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="~/vendor/magnific-popup/magnific-popup.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/sticky-icon/stickyicon.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css" rel="stylesheet" />
    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
</head>

<body class="home">

    <div class="page-wrapper">
        <div class="whatsapp">
            <a href="https://api.whatsapp.com/send?phone=@TempData["Gsm"]&text=Sipariş vermek istiyorum @TempData["SiteUrl"]" target="_blank">
                <i class="d-icon-phone"></i>Whatsapp İletişim
            </a>
        </div>
        <header class="header">

            <!-- End HeaderTop -->
            <div class="header-middle sticky-header fix-top sticky-content">
                <div class="container">
                    <div class="header-left">
                        <a href="#" class="mobile-menu-toggle">
                            <i class="d-icon-bars2"></i>
                        </a>
                        <a href="~/anasayfa" class="logo">
                            <img src="@TempData["LogoUrl"]" alt="logo" width="70%" height="44" />
                        </a>
                        <!-- End Logo -->

                        <div class="header-search hs-simple">
                            <form asp-action="Search" asp-controller="Home" method="post" class="input-wrapper">
                                <input type="text" class="form-control" name="keywords" autocomplete="off"
                                       placeholder="Ürün adı veya kodu yazınız ..." required />
                                <button class="btn btn-search" type="submit" title="submit-button">
                                    <i class="d-icon-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End Header Search -->
                    </div>
                    <div class="header-right">
                        <a href="tel:#" class="icon-box icon-box-side">
                            <div class="icon-box-icon mr-0 mr-lg-2">
                                <i class="d-icon-phone"></i>
                            </div>
                            <div class="icon-box-content d-lg-show">
                                <h4 class="icon-box-title">@Localizer["contactus"]:</h4>
                                <p>@TempData["gsm"]</p>
                            </div>
                        </a>


                        <div class="header-search hs-toggle mobile-search">
                            <a href="#" class="search-toggle">
                                <i class="d-icon-search"></i>
                            </a>
                            <form asp-action="Search" asp-controller="Home" method="post" class="input-wrapper">
                                <input type="text" class="form-control" name="keyword" autocomplete="off"
                                       placeholder="Ürün adı veya kodu..." required />
                                <button class="btn btn-search" type="submit" title="submit-button">
                                    <i class="d-icon-search"></i>
                                </button>
                            </form>
                        </div>
                        <!-- End of Header Search -->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="header-bottom d-lg-show w-100">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li class="active">
                                    <a href="~/anasayfa">
                                        @Localizer.GetString("homepage")
                                    </a>
                                </li>
                                <li>
                                    <a href="~/kurumsal">
                                        @Localizer.GetString("company")
                                    </a>
                                </li>

                                <!-- End of Dropdown -->
                                <li class="d-xl-show">
                                    <a href="#">@Localizer.GetString("product")</a>
                                    @await Component.InvokeAsync("ProductMenu")
                                </li>



                                <li>
                                    <a href="~/iletisim">
                                        @Localizer.GetString("contact")
                                    </a>
                                </li>






                            </ul>
                        </nav>
                    </div>

                    <div class="social-links">
                        <partial name="_Culture" />
                     
                        <a href="@TempData["Facebook"]" target="_blank" title="social-link"
                           class="social-link social-facebook fab fa-facebook-f"></a>
                        <a href="@TempData["Twitter"]" target="_blank" title="social-link"
                           class="social-link social-instagram fab fa-instagram"></a>
                        <a href="@TempData["Youtube"]" target="_blank" title="social-link"
                           class="social-link social-linkedin fab fa-youtube"></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- End of Header -->
        @RenderBody()
        <!-- End of Main -->




        <footer class="footer appear-animate" data-animation-options="{ 'delay': '.2s' }">
            <div class="footer-middle">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="widget widget-about">
                                <a href="~/anasayfa" class="logo-footer mb-5">
                                    <img src="@TempData["FooterLogoUrl"]" alt="logo-footer" width="154"
                                         height="43" />
                                </a>
                                <div class="widget-body">
                                    <p>@Html.Raw(@TempData["ShortAbout"])</p>
                                    <a href="mailto:@TempData["Email"]">@TempData["Email"]</a>
                                    <br />
                                    <a href="mailto:@TempData["Email2"]">@TempData["Email2"]</a>
                                </div>
                            </div>
                            <!-- End of Widget -->
                        </div>
                        <div class="col-lg-3 col-sm-6">
                         
                            <!-- End of Widget -->
                        </div>
                        <div class="col-lg-2 col-sm-6">
                        
                            <!-- End of Widget -->
                        </div>
                        <div class="col-lg-4 col-sm-6">
                        
                            <div class="footer-bottom d-block text-center">
                                <p class="copyright">@TempData["CompanyName"] &copy; @DateTime.Now.Year. @Localizer["copy"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of FooterMiddle -->
        
            <!-- End of FooterBottom -->
        </footer>
        <!-- End of Footer -->
    </div>



    <!-- Scroll Top -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>

    <!-- MobileMenu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>
        <!-- End of Overlay -->
        <a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>
        <!-- End of CloseButton -->
        <div class="mobile-menu-container scrollable">
            <form asp-action="Search" asp-controller="Home" method="post" class="input-wrapper">
                <input type="text" class="form-control" name="keywords" autocomplete="off"
                       placeholder="@Localizer["search"] ..." required />
                <button class="btn btn-search" type="submit" title="submit-button">
                    <i class="d-icon-search"></i>
                </button>
            </form>
            <!-- End of Search Form -->
            <ul class="mobile-menu mmenu-anim">
                <li class="active">
                    <a href="~/">@Localizer["homepage"]</a>
                </li>
                <li class="active">
                    <a href="~/kurumsal">@Localizer["company"]</a>
                </li>

                <!-- End of Dropdown -->
                <li>
                    <a href="#">@Localizer["product"]</a>
                    @await Component.InvokeAsync("ProductMenuMobil")
                </li>
         
                <li class="active">

                    <a href="~/iletisim">@Localizer["contact"]</a>
                </li>
            </ul>

            <span>Dil Seç</span>
            <partial name="_Culture" />

        </div>
    </div>


    <!-- Plugins JS File -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/sticky/sticky.min.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendor/owl-carousel/owl.carousel.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
     

    <!-- Main JS ~/File -->
    <script src="~/js/main.min.js"></script>
</body>
</html>
